@using BasisForAppraisal_finalProject.Common.Constans


<script type="text/javascript">
    $(function () {
        setTimeout(function () { $("#danger-alert").fadeOut(1500); }, 2500)
        $('#btnclick').click(function () {
            $('#danger-alert').show();
            setTimeout(function () { $("#danger-alert").fadeOut(1500); }, 2500)
        })
    })
</script>

@if (TempData[ResultOperationConstans.Failed] != null)
{

    <div class="alert alert-danger" id="danger-alert" style="text-align: center;align-self:center">
        <strong dir="rtl">@TempData["Failed"] </strong>
    </div>
}

