@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    
}

<h1 class="text-danger">Error.</h1>
<div class="row">
    <h2 class="text-primary col-lg-1">Oops.</h2>
    <img src="~/Content/images/OopsErrorSimliy.png" class="col-lg-2" />
</div>