
     <link href="~/Content/HomePage.css" rel="stylesheet" type="text/css" media="all" />
     <div style="margin-top:7%;">
    <div id="column1" >
        <img class="image image-full" src="~/photos/HomePage/Homepage1.jpeg" style="position: absolute;z-index: -1; "/>

        <div class="gridcontainer clearfix" style="margin-top:94%;">
            <div class="grid_3">
                <div class="fmcircle_out">
                  
                            <div class="fmcircle_in fmcircle_green">
                                <span>ניהול עובדים</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/design.png" alt="" />
                            </div>
                        </div>
                   
                
            </div>
        </div>
        </div>
         <div id="column2" >
             <img id="pic" class="image image-full" src="~/photos/HomePage/HomePage2.jpeg" style="position: absolute;z-index: -1; "/>

             <div class="grid_3" style="margin-top:94%;">
                 <div class="fmcircle_out">
                    
                             <div class="fmcircle_in fmcircle_green">
                                 <span>Branding</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/logo.png" alt="" />
                             </div>
                         </div>
                   
             </div>
             </div>
             
         <div id="column3" >
             <img class="image image-full" src="~/photos/HomePage/HomePage3.jpeg" style="position: absolute;z-index: -1;"  />

             <div class="grid_3" style="margin-top:94%;">
                 <div class="fmcircle_out">
                   
                             <div class="fmcircle_in fmcircle_green">
                                 <span>Integration</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/develop.png" alt="" />
                             </div>
                         </div>
                  
             </div>

         </div>
         <div id="column4">
             <img class=" image image-full" src="~/photos/HomePage/Homepage4.jpeg" style="position: absolute;z-index: -1;" />

             <div class="grid_3" style="margin-top:94%;">
                 <div class="fmcircle_out">
                   
                         
                     <div class="fmcircle_in fmcircle_green">
                         <span>אודות</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/develop.png" alt="" />
                     </div>
                         </div>
                     
                 
             </div>
         </div>

</div>




