
@{
    Layout = null;
}
<link href="~/Content/FontStyle.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Login (2).css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/modernizr")
<title>כניסה למערכת בסיס להערכה</title>
@using (Html.BeginForm())
{
    <div dir="rtl" class=" col-lg-6" style="align-content: center;margin-left:15%;">
        <img src="~/photos/Logo/Basis_For_evaluation%20_logo.jpg" />
        
        <div dir="rtl" class=" col-lg-11" style="margin-top:4%; margin-left:25%;">
         
        
                
                <div style="font-size:150px;"><strong>כניסה למערכת</strong></div>
              
                    <strong>מייל:</strong>
                    @Html.TextBox("email")
                    <br />
                    <strong>ת"ז:</strong>
                    @Html.Password("id")
                    <br />




                    @if( TempData["Error"] != null)
                     {
                        <p style="color:red;"> תעודת זהות או כתובת מייל לא תקינים או לא נמצאים במערכת</p>
                     }
                    <button type="submit" class="btn btn-primary btn-lg" style="width:150px; margin-right:7%; margin-top:5%;"><strong >כניסה</strong></button>
           
           </div>
        </div>
}




