@model BasisForAppraisal_finalProject.DBML.tblForm

@{
    ViewBag.Title = "tblForm";
}
@Html.HiddenFor(x => x.formId)
@Html.HiddenFor(x=> x.Sections.Count)
@Html.HiddenFor(x => x.FormName)

<div id="Panel" style="width:90%; ">
    <div style=" opacity:0.6; width:100%; height:10%; border-bottom-color:black; border-bottom-width:medium">
        <h1 class="text-center" dir="rtl" >@Html.DisplayFor(x => x.FormName)</h1>
    </div>
</div>


