 @model BasisForAppraisal_finalProject.ViewModel.Company.ClassUnitViewModel




<button><span title="הוספת טופס לארגון" data-toggle="modal" data-target="#addForm" style="cursor:pointer;">הוספת טופס ליחידה</span></button>












            <!-- Modal -->
    <div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:70%; margin-left:10%">
    <div class=" modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="panel panel-default" dir="rtl" style="width:95%; margin-right:10%; margin-top:5%; margin-bottom:30%; text-align:center">
                <!-- Default panel contents -->
                <div class="panel-heading" style="font-size: 22px; ">רשימת טפסים</div>
                <div class="panel-heading" style="font-size: 16px; text-align:right;"><strong>חיפוש</strong></div>
                <!---knafo-->
                <table id="myTable" class="table-bordered" cellspacing="0" width="100%" align="right">
                    <thead>
                        <tr style=" font-size:20px;">
                            <td align="center">שם</td>
                            <td align="center">מספר שאלות</td>
                            <td align="center">הוסף</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Forms)
                        {
                            <tr>
                                <td align="center">@Html.ActionLink(item.FormName, "Edit", new { @id = item.formId })</td>
                                <td align="center">@item.Sections.Count().ToString()</td>
                                @*<td align="center">@Html.ActionLink("הוסף טופס", "AddConnector", new { employeeFillID = 301378239, employeeOnId = Model.MyClass.Employees.First().employeeId, companyId = Model.MyClass.companyId, formID = item.formId })</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
     
    </div>
</div>

</div>





<script>

    var table = $('#myTable').DataTable();
    new $.fn.dataTable.KeyTable(table);

</script>

