@model BasisForAppraisal_finalProject.DBML.tbl_Employee
@{
    ViewBag.Title = "MainEmployee";
}
<div style="margin-top:5%" dir="rtl">
    <h2>MainEmployee</h2>

    @Html.EditorForModel()

   
    </div>

