@model  BasisForAppraisal_finalProject.ViewModel.CompanyViewModel
@{
    ViewBag.Title = "ManageCompany";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />


<div style="width:100%; background-color: cornflowerblue; text-align:center">
    <h2>@Model.Company.comapnyName</h2>
</div>


<div dir="rtl">
    @Html.EditorFor(x => x.Company)
</div>
<div dir="rtl"style="border:double; width:220px; margin-left:40%;">
    <form action="addExcel" method="post" enctype="multipart/form-data">
        <label for="file" style="margin-right:36%">הוסף עובדים</label>
        <br />
        <input type="file" name="file" id="file" />
        <br />
        <input type="submit" value="העלה נתונים" style="margin-right:36%;" />
    </form>
</div>