@model  BasisForAppraisal_finalProject.DBML.tbl_Class
@{
    ViewBag.Title = "ManageCompany";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />


  


<div style="width:100%; background-color: cornflowerblue; text-align:center">
    <h2>@Model.tbl_Unit.tbl_Company.comapnyName</h2>
</div>


<div dir="rtl">
    @Html.EditorForModel()
</div>


<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm("Index", "SendMailer",new{id=Model.companyId,unit=Model.unitName,cl= Model.className}, FormMethod.Post))
    {
        
        <input type="submit" value="Send mail" />
    }
</fieldset>

