@model  BasisForAppraisal_finalProject.ViewModel.Company.ClassUnitViewModel
@{
    ViewBag.Title = "ManageCompany";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/DataTable/jquery.dataTables.css" rel="stylesheet" />

          
        

<div style="width:100%; background-color: cornflowerblue; text-align:center; margin-top:7%">
    <h2>@Model.MyClass.tbl_Unit.tbl_Company.comapnyName</h2>
    
</div>
@Html.Partial("_partialAddFormToUnit", Model)
<fieldset>



    @using (Html.BeginForm("Index", "SendMailer", new { id = Model.MyClass.companyId, unit = Model.MyClass.unitName, cl = Model.MyClass.className }, FormMethod.Post))
    {

        <input type="submit" value="Send mail" />
    }
</fieldset>
@Html.EditorFor(x=>x.MyClass)







