@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
@{
    ViewBag.Title = "addNewQuestion";
}

<h2>addNewQuestion</h2>

<div style="text-align: right; border: 1px solid silver">
    @using (Html.BeginForm("addNewQuestion", "MainFormCreator",FormMethod.Post))
    {

        @Html.EditorForModel()
        <input type="submit" value="Add" style="width: 70px; font-size: 12px" />

    }
    </div>



