@model BasisForAppraisal_finalProject.DBML.tblForm
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = null;
}
<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/jquery.simplePagination.min.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/OurJavaScripts/FormFillJS.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>תצוגה מקדימה-@Model.FormName </title>
    <script type="text/javascript">
        $(function () {
            var perPage = 3;
            var opened = 1;
            var onClass = 'on';
            var paginationSelector = '.pages';
            $('#exampsle').simplePagination(perPage, opened, onClass, paginationSelector);
        });
    </script>


    <meta name="viewport" content="width=device-width" />
    <title>ShowAnswers</title>
</head>
<body>

    <div id="Panel" style="width: 100%; margin-top: 0%; background-color:white ">
        <div class="panel panel-heading">
            <div class="panel-heading">
                <div class="alert-info">
                    @Html.DisplayForModel()
                </div>
                <div id="exampsle">
                    @Html.DisplayFor(x => x.Sections.First().Questions)
                </div>
                <ul class="pager">
                    <li class="pages"></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
