@model BasisForAppraisal_finalProject.DBML.tblForm
@{
    ViewBag.Title = "Index";
}




    <div style="text-align: right; border: 1px solid silver; margin-left:78%; margin-top:15%; position:fixed">
        @using (Html.BeginForm("addNewQuestion", "MainFormCreator", FormMethod.Get))
{

    <input id="AddButton" type="submit" value="הוסף שאלה" style="font-size: 36px; width:200px;" />

}
</div>
        @using (Html.BeginForm())
        {
       
            <input type="submit" value="שמור טופס" style="font-size: 36px; width:200px;" />

        }
       
@Html.EditorForModel()
 

