@model BasisForAppraisal_finalProject.ViewModel.FormViewModel

@{
    ViewBag.Title = "IntentionalFormWorkshop";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div style="text-align: right; border: 1px solid silver; margin-left:78%; margin-top:15%; position:fixed">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="font-size: 36px; width: 200px;  background-color: black">+</button>
</div>

<div id="Panel" style="border: groove;  width:85%; ">
    @using (Html.BeginForm())
    {
        @Html.EditorFor(x => x.form)
        @Html.EditorFor(a => a.IntentionalQuestions)
        <button type="submit" class="btn btn-primary">שמור שאלות</button>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" dir="rtl">שאלה חדשה</h4>
            </div>
            @using (Html.BeginForm("addNewQuestion", "MainFormCreator", FormMethod.Post))
            {  <div class="modal-body">
                @Html.EditorFor(b => b.NewQuestion);
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">שמור שאלה</button>
                </div>
            }



        </div>
    </div>
</div>

