@model BasisForAppraisal_finalProject.DBML.tbl_IntentionalQuestion
<div dir="rtl" style="border-bottom: solid;">
    @Html.EditorFor(x => x.Answers[0])
    <div style="margin-bottom:2%;"></div>
</div>