@model IEnumerable<BasisForAppraisal_finalProject.ViewModel.ExportData.FormCheckBoxViewModel>

<h2>רשימת שאלונים</h2>
@Html.EditorForModel();




 <button type="submit" class="btn btn-primary btn-lg" style="margin-top:5%" onclick="JavascriptFunction();">GO</button>
