@model IEnumerable<BasisForAppraisal_finalProject.ViewModel.ExportData.FormCheckBoxViewModel>

<h2>רשימת שאלונים</h2>
@Html.EditorForModel();




 <button type="submit" class="btn btn-primary btn-lg" style="margin-top:5%" onclick="JavascriptFunction();">GO</button>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
           top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
            opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 30%; left: 45%; color: White;">
        <img src="~/photos/Uploading/ajax-loading.gif" /> ... טוען נתונים
    </p>
</div>
<script type="text/javascript" language="javascript">
    function JavascriptFunction() {
        $("#divLoading").show();
    }
</script>


