@model IEnumerable<BasisForAppraisal_finalProject.ViewModel.ExportData.FormCheckBoxViewModel>

@*<table>
    @foreach(BasisForAppraisal_finalProject.ViewModel.ExportData.FormCheckBoxViewModel fc in @Model )
    <tr>
        <td>E</td>
    </tr>
</table>*@

