
@{
    ViewBag.Title = "MainData";
}

<style type="text/css">
    .BigBtn{
        height:50%;
        width:40%;

    }
</style>
<h2>MainData</h2>
<div dir="rtl">
    <h1>ניתוח מידע</h1>
    <div class="row" style="margin-top:10%">
        <div class="col-md-4 ">
            <h2>ייצוא לאקסל</h2>
            <p>

                <img src="~/Content/images/ExcelReportIcon.png" />
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "ExportData")">יצוא לאקסל &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border-left-style:groove">
            <h2>דוח לשגריר</h2>
            <p><img src="~/Content/images/reportIconSingle.png" /></p>
            <p><a class="btn btn-default" href="@Url.Action("ReportForStudent", "ExportData")">דוח לשגריר &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border-left-style:groove">
            <h2>דוח ארגוני</h2>
            <p>
                <img src="~/Content/images/organiztionReportLogo.png" /></p>
            <p><a class="btn btn-default" href="@Url.Action("ReportForOrganiztion", "ExportData")">דוח ארגוני &raquo;</a></p>
        </div>
    </div>
</div>